<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListDirectiveApp">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Directives with Isolate Scope</title>
</head>
<body>
<h1>Directives with Isolate Scope</h1>

<div id="list" ng-controller="ShoppingListController as list">
    <input type="text" ng-model="list.itemName" placeholder="item name">
    <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
    <button ng-click="list.addItem();">Add Item</button>

    <shopping-list title="{{list.title}}" my-list="list"></shopping-list>
</div>

<div id="list2" ng-controller="ShoppingListController as list2">
    <input type="text" ng-model="list2.itemName" placeholder="item name">
    <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
    <button ng-click="list2.addItem();">Add Item</button>

    <shopping-list title="Shopping List #2 (limited to 3)" my-list="list2"></shopping-list>
</div>

</body>
</html>