<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListComponentApp">
<head>
    <meta charset="UTF-8">
    <title>Shopping List With Components</title>
</head>
<body>
    <h1>Shopping List With Components</h1>

    <div id="list" ng-controller="ShoppingListController as list">
        <input type="text" ng-model="list.itemName" placeholder="item name">
        <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
        <button ng-click="list.addItem();">Add Item</button>
        <span>{{ list.lastRemoved }}</span>

        <shopping-list
            items="list.items"
            title="{{list.title}}"
            on-remove="list.removeItem(indexInHtml)"></shopping-list>

    </div>

</body>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</html>