<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListDirectiveApp">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Directives with Isolate Scope</title>
</head>
<body>
<h1>Directives with Isolate Scope</h1>

<div id="list1" ng-controller="ShoppingListController1 as list1">
    <input type="text" ng-model="list1.itemName" placeholder="item name">
    <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
    <button ng-click="list1.addItem();">Add Item</button>
    <shopping-list title="{{list1.title}}" my-list="list1"></shopping-list>
    <div ng-if="list1.errorMessage" class="error">Error:
        {{list.errorMessage}}</div>
</div>

<div id="list2" ng-controller="ShoppingListController2 as list2">
    <input type="text" ng-model="list2.itemName" placeholder="item name">
    <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
    <button ng-click="list2.addItem();">Add Item</button>
    <shopping-list title="Shopping List #2 (limited to 3)" my-list="list2"></shopping-list>
    <div ng-if="list2.errorMessage" class="error">Error:
        {{list2.errorMessage}}</div>
</div>

</body>
</html>